
.cardImage{
    width: 170px;
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    }
.description{
    display:block;
    justify-content: left;
}

.body{
    text-align:  center;
    margin:5px auto 5px auto;
    height:270px;
    width:276px
}
.icon{
 align-content: center;
}
.title{
    font-weight: bold;
    height: 60px;
    widows: 236px;
}
